<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Registro</title>
    <link rel="stylesheet" th:href="@{/css/recoverpassword.css}">
</head>
<body>
<div class="recoverpassword-container">
    <div class="recoverpassword-image-logo-container">
        <img th:src="@{/images/ASCII.png}" alt="Logo PUC Minas">
    </div>

    <div class="recoverpassword-form">
        <h2 class="recoverpassword-title">Email para Redefinição</h2>

        <form th:action="@{/recoverpassword}" method="post">
            <input type="text" name="rg" placeholder="email" required>

            <div class="recoverpassword-button-container">
                <button type="submit">Enviar</button>
            </div>
        </form>

        <div class="recoverpassword-redirect-options">
            Não tem Email?<a th:href="@{/recoverpasswordsms}">Tente SMS</a>
        </div>
    </div>
</div>
</body>
</html>
